In [1]:
import pandas as pd

In [2]:
import numpy as np

In [193]:
df_meta = pd.read_csv("/home/rohit/DataSet/metadata_wala/movies_metadata.csv",dtype={'overview':'string'})

In [194]:
df_meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [12]:
del df_meta['belongs_to_collection']

In [13]:
del df_meta['genres']

In [20]:
df_meta = df_meta.drop('homepage',axis=1)

In [22]:
df_meta = df_meta.drop(['original_title','budget'],axis=1)

In [24]:
df_meta.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [195]:
needed_columns=['adult', 'id', 'imdb_id', 'original_language', 'overview',
       'popularity', 'poster_path', 'runtime', 'spoken_languages', 'title', 'vote_average', 'vote_count']

In [196]:
df_meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [197]:
na_chine = df_meta.drop(needed_columns,axis=1)
df_meta = df_meta.drop(na_chine.columns.values,axis=1)
df_meta.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'spoken_languages', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [38]:
df_meta['spoken_languages'].iloc[1]

"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]"

In [41]:
df_meta = df_meta.drop('status',axis=1)

In [47]:
needed_columns = df_meta.columns.values

In [49]:
needed_columns

array(['adult', 'id', 'imdb_id', 'original_language', 'overview',
       'popularity', 'poster_path', 'runtime', 'spoken_languages',
       'tagline', 'title', 'vote_average', 'vote_count'], dtype=object)

In [50]:
import json

In [51]:
with open('so_far.txt','r') as f:
    data = json.loads(f.read())

In [53]:
df_api = pd.DataFrame(data)

In [54]:
df_api.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,None,None,0,"[{'id': 18, 'name': 'Drama'}]",None,525153,tt0094878,en,Cienie,...,1988-08-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,,Shadows,False,0.0,0
1,False,None,None,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",None,503475,,en,Wallace & Gromit: The Best of Aardman Animation,...,1996-06-14,0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Best of Aardman Animation,Wallace & Gromit: The Best of Aardman Animation,True,7.5,2
2,False,None,None,0,"[{'id': 99, 'name': 'Documentary'}]",,581579,tt0116992,en,Marlene Dietrich: Shadows and Light,...,1996-04-02,0,52.0,[],Released,,Marlene Dietrich: Shadows and Light,False,0.0,0
3,False,None,None,0,[],None,525936,tt0112746,en,The Crude Oasis,...,1995-07-07,0,81.0,[],Released,,The Crude Oasis,False,0.0,0
4,False,None,None,0,"[{'id': 36, 'name': 'History'}, {'id': 10402, ...",http://www.jackoconnellfilms.com/,484245,tt0116536,en,The Hippie Revolution,...,1996-09-05,0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,The Hippie Revolution,False,0.0,0

In [58]:
chaindaina = df_api.drop(needed_columns,axis=1).columns.values

In [61]:
df_api = df_api.drop(chaindaina,axis=1)

In [62]:
df_api

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,False,525153,tt0094878,en,"During the Second World War, tens of thousands...",1.201,/emSTzEr2qdo3lV14ZQ3uIYsqHJS.jpg,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",,Shadows,0.0,0
1,False,503475,,en,Anthology of Aardman Animation short films rel...,2.272,/tWkYclnnChwoMMBFECsEjd5hb77.jpg,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Best of Aardman Animation,Wallace & Gromit: The Best of Aardman Animation,7.5,2
2,False,581579,tt0116992,en,Following the life of Marlene Dietrich through...,0.600,/faHxYNlQ7RGDtqmaNBpFf0HKozg.jpg,52.0,[],,Marlene Dietrich: Shadows and Light,0.0,0
3,False,525936,tt0112746,en,Lonely Kansas housewife Karen Webb despondent ...,0.841,None,81.0,[],,The Crude Oasis,0.0,0
4,False,484245,tt0116536,en,Back in the stone aged we all went to San Fran...,0.655,/p5SC0B48GKtwOMLVK0qdY4p164F.jpg,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",,The Hippie Revolution,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21854,False,462026,tt6612512,en,Edith Walks is a 60 minute 66 second feature f...,0.600,/1ExGsz7R9qJP7x54Gmpn1KsCexX.jpg,60.0,[],,Edith Walks,5.0,1
21855,False,419786,tt1129418,en,After Martha Jones parts company with the Doct...,3.531,/ge7vWbyrQpsFwSGRED8p4xpi3kZ.jpg,8.0,"[{'iso_639_1': 'en', 'name': 'English'}]",,Doctor Who: Time Crash,7.9,62
21856,False,369363,tt4815426,en,The process of making Shoah.,2.043,/rrtvECuiOeTLxI0a78Jw40PPhOV.jpg,40.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",,Claude Lanzmann: Spectres of the Shoah,6.9,7
21857,False,353921,tt0238304,en,Playboy does to softcore sex films what HBO's ...,0.804,/v0S1wr7E4c436d57hygZvDoeUvR.jpg,93.0,[],,Inside Out 3,0.0,0
21858,False,335251,tt1883368,en,An exploration of the musical and social origi...,0.664,None,0.0,[],,The Land Where the Blues Began,0.0,0

In [63]:
df_api.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'spoken_languages', 'tagline', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [64]:
df_meta.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'spoken_languages', 'tagline', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [65]:
df_meta.head()

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,False,862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,Toy Story,7.7,5415.0
1,False,8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,False,15602,tt0113228,en,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,False,31357,tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,False,11862,tt0113041,en,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

In [66]:
df_api.merge(df_meta,indicator=True,how='outer')

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [84]:
for i in needed_columns:
    print(type(df_meta[i].values[0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'numpy.float64'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [85]:
for i in needed_columns:
    print(type(df_api[i].values[0]))

<class 'numpy.bool_'>
<class 'numpy.int64'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.float64'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'numpy.float64'>
<class 'numpy.int64'>

In [72]:
type(df_api['overview'])

pandas.core.series.Series

In [74]:
df_api['overview'].astype(str)

0        During the Second World War, tens of thousands...
1        Anthology of Aardman Animation short films rel...
2        Following the life of Marlene Dietrich through...
3        Lonely Kansas housewife Karen Webb despondent ...
4        Back in the stone aged we all went to San Fran...
                               ...
21854    Edith Walks is a 60 minute 66 second feature f...
21855    After Martha Jones parts company with the Doct...
21856                         The process of making Shoah.
21857    Playboy does to softcore sex films what HBO's ...
21858    An exploration of the musical and social origi...
Name: overview, Length: 21859, dtype: object

In [75]:
type(df_api['overview'].values)

numpy.ndarray

In [76]:
type(df_meta['overview'].values)

pandas.core.arrays.string_.StringArray

In [77]:
df_api.head()

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,False,525153,tt0094878,en,"During the Second World War, tens of thousands...",1.201,/emSTzEr2qdo3lV14ZQ3uIYsqHJS.jpg,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",,Shadows,0.0,0
1,False,503475,,en,Anthology of Aardman Animation short films rel...,2.272,/tWkYclnnChwoMMBFECsEjd5hb77.jpg,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Best of Aardman Animation,Wallace & Gromit: The Best of Aardman Animation,7.5,2
2,False,581579,tt0116992,en,Following the life of Marlene Dietrich through...,0.600,/faHxYNlQ7RGDtqmaNBpFf0HKozg.jpg,52.0,[],,Marlene Dietrich: Shadows and Light,0.0,0
3,False,525936,tt0112746,en,Lonely Kansas housewife Karen Webb despondent ...,0.841,None,81.0,[],,The Crude Oasis,0.0,0
4,False,484245,tt0116536,en,Back in the stone aged we all went to San Fran...,0.655,/p5SC0B48GKtwOMLVK0qdY4p164F.jpg,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",,The Hippie Revolution,0.0,0

In [82]:
df_api.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'spoken_languages', 'tagline', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [83]:
df_api.merge(df_meta,indicator=True,how='outer')

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [86]:
df_api.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'spoken_languages', 'tagline', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [89]:
df_api['adult'].astype(str)

0        False
1        False
2        False
3        False
4        False
         ...
21854    False
21855    False
21856    False
21857    False
21858    False
Name: adult, Length: 21859, dtype: object

In [91]:
df_meta['id'].astype('int64')

ValueError: invalid literal for int() with base 10: '1997-08-20'

In [96]:
df_meta[df_meta['id']=='1997-08-20']

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,tagline,title,vote_average,vote_count
19730,- Written by Ørnås,1997-08-20,0,104.0,Released,NaN,Midnight Man,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df_meta = df_meta.drop(19730)

In [103]:
df_meta[df_meta['id']=='1997-08-20']

Empty DataFrame
Columns: [adult, id, imdb_id, original_language, overview, popularity, poster_path, runtime, spoken_languages, tagline, title, vote_average, vote_count]
Index: []

In [104]:
df_meta['id'].astype('int64')

ValueError: invalid literal for int() with base 10: '2012-09-29'

In [118]:
id1 = df_meta['id'].values

In [113]:
df_meta.select_dtypes(include = 'int64')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[45465 rows x 0 columns]

In [133]:
for i in id1:
    try:
        print(type(eval(i)))
    except:
        print('Error at')

In [124]:
df_meta['id'].astype('int64')

ValueError: invalid literal for int() with base 10: '2012-09-29'

In [125]:
df_meta[df_meta['id']=='2012-09-29']

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,tagline,title,vote_average,vote_count
29503,Rune Balot goes to a casino connected to the ...,2012-09-29,0,68.0,Released,NaN,Mardock Scramble: The Third Exhaust,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
df_meta = df_meta.drop(19730)
df_meta = df_meta.drop(29503)

In [127]:
df_meta[df_meta['id']=='2012-09-29']

Empty DataFrame
Columns: [adult, id, imdb_id, original_language, overview, popularity, poster_path, runtime, spoken_languages, tagline, title, vote_average, vote_count]
Index: []

In [128]:
df_meta['id'].astype('int64')

ValueError: invalid literal for int() with base 10: '2014-01-01'

In [135]:
df_meta[df_meta['id']=='2014-01-01']

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,tagline,title,vote_average,vote_count
35587,Avalanche Sharks tells the story of a bikini ...,2014-01-01,0,82.0,Released,Beware Of Frost Bites,Avalanche Sharks,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
df_meta[df_meta['imdb_id']=='0']

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,tagline,title,vote_average,vote_count
35587,Avalanche Sharks tells the story of a bikini ...,2014-01-01,0,82.0,Released,Beware Of Frost Bites,Avalanche Sharks,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
df_meta = df_meta.drop(19730)
df_meta = df_meta.drop(29503)
df_meta = df_meta.drop(35587)

In [139]:
df_meta[df_meta['id']=='2014-01-01']

Empty DataFrame
Columns: [adult, id, imdb_id, original_language, overview, popularity, poster_path, runtime, spoken_languages, tagline, title, vote_average, vote_count]
Index: []

In [140]:
df_meta['id'].astype('int64')

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45463, dtype: int64

In [142]:
df_meta.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'spoken_languages', 'tagline', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [143]:
df_meta['tagline']

0                                                      NaN
1                Roll the dice and unleash the excitement!
2        Still Yelling. Still Fighting. Still Ready for...
3        Friends are the people who let you be yourself...
4        Just When His World Is Back To Normal... He's ...
                               ...
45461           Rising and falling between a man and woman
45462                                                  NaN
45463                               A deadly game of wits.
45464                                                  NaN
45465                                                  NaN
Name: tagline, Length: 45463, dtype: object

In [145]:
df_meta = df_meta.drop('tagline',axis=1)

In [146]:
df_api = df_api.drop('tagline',axis=1)

In [147]:
df_meta.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'spoken_languages', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [149]:
df_api.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'spoken_languages', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

df_met

In [156]:
type(df_meta['spoken_languages'].values[0])

str

In [182]:
needed_columns=['adult', 'id', 'imdb_id', 'original_language', 'overview',
       'popularity', 'poster_path', 'runtime', 'spoken_languages', 'title', 'vote_average', 'vote_count']
for i in needed_columns:
    print(i)
    print(type(df_meta[i].values[0]))

adult
<class 'str'>
id
<class 'str'>
imdb_id
<class 'str'>
original_language
<class 'str'>
overview
<class 'str'>
popularity
<class 'float'>
poster_path
<class 'str'>
runtime
<class 'numpy.float64'>
spoken_languages
<class 'str'>
title
<class 'str'>
vote_average
<class 'numpy.float64'>
vote_count
<class 'numpy.float64'>

In [179]:
for i in needed_columns:
    print(type(df_api[i].values[0]))

<class 'numpy.bool_'>
<class 'numpy.int64'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.float64'>
<class 'list'>
<class 'str'>
<class 'numpy.float64'>
<class 'numpy.int64'>

In [184]:
df_meta = df_meta.drop(19730)
df_meta = df_meta.drop(29503)
df_meta = df_meta.drop(35587)

In [185]:
df_meta['id'].astype('int64')

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45463, dtype: int64

In [186]:
for i in needed_columns:
    print(i)
    print(type(df_meta[i].values[0]))

adult
<class 'str'>
id
<class 'str'>
imdb_id
<class 'str'>
original_language
<class 'str'>
overview
<class 'str'>
popularity
<class 'float'>
poster_path
<class 'str'>
runtime
<class 'numpy.float64'>
spoken_languages
<class 'str'>
title
<class 'str'>
vote_average
<class 'numpy.float64'>
vote_count
<class 'numpy.float64'>

In [198]:
df_meta.dtypes

adult                 object
id                    object
imdb_id               object
original_language     object
overview              string
popularity            object
poster_path           object
runtime              float64
spoken_languages      object
title                 object
vote_average         float64
vote_count           float64
dtype: object

In [199]:
df_api.dtypes

adult                   bool
id                     int64
imdb_id               object
original_language     object
overview              object
popularity           float64
poster_path           object
runtime              float64
spoken_languages      object
title                 object
vote_average         float64
vote_count             int64
dtype: object

In [201]:
df_meta = df_meta.drop(19730)
df_meta = df_meta.drop(29503)
df_meta = df_meta.drop(35587)

In [202]:
type_changer={'id':'int64',
             'popularity':'float64'}
df_meta = df_meta.astype(type_changer)

In [204]:
df_meta.dtypes

adult                 object
id                     int64
imdb_id               object
original_language     object
overview              string
popularity           float64
poster_path           object
runtime              float64
spoken_languages      object
title                 object
vote_average         float64
vote_count           float64
dtype: object

In [205]:
df_api.dtypes

adult                   bool
id                     int64
imdb_id               object
original_language     object
overview              object
popularity           float64
poster_path           object
runtime              float64
spoken_languages      object
title                 object
vote_average         float64
vote_count             int64
dtype: object

In [208]:
for i in needed_columns:
    print(i)
    print(type(df_api[i].values[0]))

adult
<class 'numpy.bool_'>
id
<class 'numpy.int64'>
imdb_id
<class 'str'>
original_language
<class 'str'>
overview
<class 'str'>
popularity
<class 'numpy.float64'>
poster_path
<class 'str'>
runtime
<class 'numpy.float64'>
spoken_languages
<class 'list'>
title
<class 'str'>
vote_average
<class 'numpy.float64'>
vote_count
<class 'numpy.int64'>

In [211]:
df_api = df_api.astype({'spoken_languages':'str'})

In [212]:
for i in needed_columns:
    print(i)
    print(type(df_api[i].values[0]))

adult
<class 'numpy.bool_'>
id
<class 'numpy.int64'>
imdb_id
<class 'str'>
original_language
<class 'str'>
overview
<class 'str'>
popularity
<class 'numpy.float64'>
poster_path
<class 'str'>
runtime
<class 'numpy.float64'>
spoken_languages
<class 'str'>
title
<class 'str'>
vote_average
<class 'numpy.float64'>
vote_count
<class 'numpy.int64'>

In [215]:
df_merged = df_api.merge(df_meta,indicator=True,how='outer')

In [220]:
df_merged

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,title,vote_average,vote_count,_merge
0,False,525153,tt0094878,en,"During the Second World War, tens of thousands...",1.201000,/emSTzEr2qdo3lV14ZQ3uIYsqHJS.jpg,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Shadows,0.0,0.0,left_only
1,False,503475,,en,Anthology of Aardman Animation short films rel...,2.272000,/tWkYclnnChwoMMBFECsEjd5hb77.jpg,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Wallace & Gromit: The Best of Aardman Animation,7.5,2.0,left_only
2,False,581579,tt0116992,en,Following the life of Marlene Dietrich through...,0.600000,/faHxYNlQ7RGDtqmaNBpFf0HKozg.jpg,52.0,[],Marlene Dietrich: Shadows and Light,0.0,0.0,left_only
3,False,525936,tt0112746,en,Lonely Kansas housewife Karen Webb despondent ...,0.841000,None,81.0,[],The Crude Oasis,0.0,0.0,left_only
4,False,484245,tt0116536,en,Back in the stone aged we all went to San Fran...,0.655000,/p5SC0B48GKtwOMLVK0qdY4p164F.jpg,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Hippie Revolution,0.0,0.0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67317,False,439050,tt6209470,fa,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Subdue,4.0,1.0,right_only
67318,False,111109,tt2028550,tl,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,9.0,3.0,right_only
67319,False,67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal,3.8,6.0,right_only
67320,False,227506,tt0008536,en,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,87.0,[],Satan Triumphant,0.0,0.0,right_only
67321,False,461257,tt6980792,en,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,0.0,0.0,right_only

In [222]:
df_merged[df_merged['_merge']=='both']

Empty DataFrame
Columns: [adult, id, imdb_id, original_language, overview, popularity, poster_path, runtime, spoken_languages, title, vote_average, vote_count, _merge]
Index: []

In [228]:
df_merged.dtypes

adult                  object
id                      int64
imdb_id                object
original_language      object
overview               object
popularity            float64
poster_path            object
runtime               float64
spoken_languages       object
title                  object
vote_average          float64
vote_count            float64
_merge               category
dtype: object

In [223]:
df_merged.to_csv('set.csv',index=False)

In [224]:
df = pd.read_csv('set.csv')

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

In [232]:
import csv
with open('set.csv', 'r') as f:
    reader = csv.reader(f)
    linenumber = 1
    try:
        for row in reader:
            linenumber += 1
    except Exception as e:
        print (("Error line %d: %s %s" % (linenumber, str(type(e)),e)))

In [235]:
df = pd.read_csv('set.csv',lineterminator='\n')

In [243]:
what = df['imdb_id'].isna().values

In [244]:
what

array([False,  True, False, ..., False, False, False])

In [246]:
count=0
for i in what:
    
    if i==True:
        count+=1
count

28

In [247]:
df

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,title,vote_average,vote_count,_merge
0,False,525153,tt0094878,en,"During the Second World War, tens of thousands...",1.201000,/emSTzEr2qdo3lV14ZQ3uIYsqHJS.jpg,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Shadows,0.0,0.0,left_only
1,False,503475,NaN,en,Anthology of Aardman Animation short films rel...,2.272000,/tWkYclnnChwoMMBFECsEjd5hb77.jpg,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Wallace & Gromit: The Best of Aardman Animation,7.5,2.0,left_only
2,False,581579,tt0116992,en,Following the life of Marlene Dietrich through...,0.600000,/faHxYNlQ7RGDtqmaNBpFf0HKozg.jpg,52.0,[],Marlene Dietrich: Shadows and Light,0.0,0.0,left_only
3,False,525936,tt0112746,en,Lonely Kansas housewife Karen Webb despondent ...,0.841000,NaN,81.0,[],The Crude Oasis,0.0,0.0,left_only
4,False,484245,tt0116536,en,Back in the stone aged we all went to San Fran...,0.655000,/p5SC0B48GKtwOMLVK0qdY4p164F.jpg,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Hippie Revolution,0.0,0.0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67317,False,439050,tt6209470,fa,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Subdue,4.0,1.0,right_only
67318,False,111109,tt2028550,tl,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,9.0,3.0,right_only
67319,False,67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal,3.8,6.0,right_only
67320,False,227506,tt0008536,en,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,87.0,[],Satan Triumphant,0.0,0.0,right_only
67321,False,461257,tt6980792,en,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,0.0,0.0,right_only

In [259]:
df['spoken_languages'].values

array(["[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'pl', 'name': 'Polski'}]",
       "[{'iso_639_1': 'en', 'name': 'English'}]", '[]', ...,
       "[{'iso_639_1': 'en', 'name': 'English'}]", '[]',
       "[{'iso_639_1': 'en', 'name': 'English'}]"], dtype=object)

In [303]:
langauges = df['spoken_languages'].values

In [325]:
listcha = eval(langauges[0])
listcha

[{'iso_639_1': 'en', 'name': 'English'},
 {'iso_639_1': 'de', 'name': 'Deutsch'},
 {'iso_639_1': 'pl', 'name': 'Polski'}]

In [326]:
type(listcha)

list

In [327]:
listcha[0]

{'iso_639_1': 'en', 'name': 'English'}

In [333]:

for i in langauges[0:10]:
    print(eval(i))
    eval(i)
    for j in i:
        print(eval(j))

[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso_639_1': 'pl', 'name': 'Polski'}]

SyntaxError: unexpected EOF while parsing (<string>, line 1)

In [334]:
df

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,spoken_languages,title,vote_average,vote_count,_merge
0,False,525153,tt0094878,en,"During the Second World War, tens of thousands...",1.201000,/emSTzEr2qdo3lV14ZQ3uIYsqHJS.jpg,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Shadows,0.0,0.0,left_only
1,False,503475,NaN,en,Anthology of Aardman Animation short films rel...,2.272000,/tWkYclnnChwoMMBFECsEjd5hb77.jpg,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Wallace & Gromit: The Best of Aardman Animation,7.5,2.0,left_only
2,False,581579,tt0116992,en,Following the life of Marlene Dietrich through...,0.600000,/faHxYNlQ7RGDtqmaNBpFf0HKozg.jpg,52.0,[],Marlene Dietrich: Shadows and Light,0.0,0.0,left_only
3,False,525936,tt0112746,en,Lonely Kansas housewife Karen Webb despondent ...,0.841000,NaN,81.0,[],The Crude Oasis,0.0,0.0,left_only
4,False,484245,tt0116536,en,Back in the stone aged we all went to San Fran...,0.655000,/p5SC0B48GKtwOMLVK0qdY4p164F.jpg,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Hippie Revolution,0.0,0.0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67317,False,439050,tt6209470,fa,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Subdue,4.0,1.0,right_only
67318,False,111109,tt2028550,tl,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,9.0,3.0,right_only
67319,False,67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal,3.8,6.0,right_only
67320,False,227506,tt0008536,en,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,87.0,[],Satan Triumphant,0.0,0.0,right_only
67321,False,461257,tt6980792,en,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama,0.0,0.0,right_only

In [338]:
df = df.drop('spoken_languages',axis=1)

In [339]:
df

,adult,id,imdb_id,original_language,overview,popularity,poster_path,runtime,title,vote_average,vote_count,_merge
0,False,525153,tt0094878,en,"During the Second World War, tens of thousands...",1.201000,/emSTzEr2qdo3lV14ZQ3uIYsqHJS.jpg,101.0,Shadows,0.0,0.0,left_only
1,False,503475,NaN,en,Anthology of Aardman Animation short films rel...,2.272000,/tWkYclnnChwoMMBFECsEjd5hb77.jpg,75.0,Wallace & Gromit: The Best of Aardman Animation,7.5,2.0,left_only
2,False,581579,tt0116992,en,Following the life of Marlene Dietrich through...,0.600000,/faHxYNlQ7RGDtqmaNBpFf0HKozg.jpg,52.0,Marlene Dietrich: Shadows and Light,0.0,0.0,left_only
3,False,525936,tt0112746,en,Lonely Kansas housewife Karen Webb despondent ...,0.841000,NaN,81.0,The Crude Oasis,0.0,0.0,left_only
4,False,484245,tt0116536,en,Back in the stone aged we all went to San Fran...,0.655000,/p5SC0B48GKtwOMLVK0qdY4p164F.jpg,93.0,The Hippie Revolution,0.0,0.0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...
67317,False,439050,tt6209470,fa,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,90.0,Subdue,4.0,1.0,right_only
67318,False,111109,tt2028550,tl,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,360.0,Century of Birthing,9.0,3.0,right_only
67319,False,67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,90.0,Betrayal,3.8,6.0,right_only
67320,False,227506,tt0008536,en,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,87.0,Satan Triumphant,0.0,0.0,right_only
67321,False,461257,tt6980792,en,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,75.0,Queerama,0.0,0.0,right_only

In [340]:
df.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'title', 'vote_average', 'vote_count',
       '_merge'],
      dtype='object')

In [2]:
df = pd.read_csv('set.csv',lineterminator='\n')

In [3]:
df.columns

Index(['adult', 'id', 'imdb_id', 'original_language', 'overview', 'popularity',
       'poster_path', 'runtime', 'spoken_languages', 'title', 'vote_average',
       'vote_count', '_merge'],
      dtype='object')

In [4]:
df['imdb_id'].count()

67294

In [8]:
len(df['imdb_id'].unique())

64596

In [10]:
len(df['id'].unique())

64618

In [11]:
df['id'].head()

0    525153
1    503475
2    581579
3    525936
4    484245
Name: id, dtype: int64